head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="John Depatie")
    title= title
    link(rel='icon' href='images/favicon/favicon.ico' type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://unpkg.com/aos@2.3.1/dist/aos.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    