sidebar.sidebar
    .bg-light#sidebar-wrapper
      .sidebar-heading
        img.navbar-brand(src='/images/PlaceholderLogo.png')

      ul.list-group.list-group-flush.sidebar-list
        li.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(name === "projects" ? "active" : undefined))(href='/') Projects
        ul
          li.nested-list-group.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(name === "projects" ? "active" : undefined))(href='/') All 
            small.text-muted (36)
          //li.nested-list-group.list-group-item.list-group-item-action.bg-light: a.sidebar(href='#') Forests 
            small.text-muted (7)
          //li.nested-list-group.list-group-item.list-group-item-action.bg-light: a.sidebar(href='#') Mountains 
            small.text-muted (13)
        li.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(name === "contact" ? "active" : undefined))(href='/contact') Contact
        li.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(name === "about" ? "active" : undefined))(href='/about') About
        
      .sidebar-brand-footer
        span.lead gallery.js