sidebar.sidebar
    .bg-light.border-right#sidebar-wrapper
      .sidebar-heading
        img.navbar-brand(src='/images/PlaceholderLogo.png')

      ul.list-group.list-group-flush
        li.list-group-item.list-group-item-action.bg-light.active Projects
        ul
          li.nested-list-group.list-group-item.list-group-item-action.bg-light Link One
          li.nested-list-group.list-group-item.list-group-item-action.bg-light Link Two
          li.nested-list-group.list-group-item.list-group-item-action.bg-light Link Three
        li.list-group-item.list-group-item-action.bg-light Contact
        li.list-group-item.list-group-item-action.bg-light About
        
      .navbar-brand-footer
        span.lead gallery.js
<!--      .list-group.list-group-flush
        a.list-group-item.list-group-item-action.bg-light(href="/") Dashboard
        a.list-group-item.list-group-item-action.bg-light.active(href="/") Projects
        ul
          a.list-group-item.list-group-item-action.bg-light(href="/test.html") Link One
          a.list-group-item.list-group-item-action.bg-light(href="/test2.html") Link Two
          a.list-group-item.list-group-item-action.bg-light(href="/test3.html") Link Three
        a.list-group-item.list-group-item-action.bg-light(href="/test4.html") Contact
        a.list-group-item.list-group-item-action.bg-light(href="/about") About -->
        
        