sidebar.sidebar
    .bg-light#sidebar-wrapper
      .sidebar-heading
        img.navbar-brand(src='/images/favicon/android-chrome-192x192.png')
      ul.list-group.list-group-flush.sidebar-list
        li.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(name === "projects" ? "active" : undefined))(href='/') Projects
        ul
          li.nested-list-group.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(tag === "all" ? "active" : undefined))(href='/') All 
            small.text-muted (36)
          li.nested-list-group.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(tag === "forest" ? "active" : undefined))(href='/tag=forest') Forests
            small.text-muted (8)
          li.nested-list-group.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(tag === "mountain" ? "active" : undefined))(href='/tag=mountain') Mountains 
            small.text-muted (6)
          li.nested-list-group.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(tag === "ocean" ? "active" : undefined))(href='/tag=ocean') Ocean 
            small.text-muted (8)
          li.nested-list-group.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(tag === "wildlife" ? "active" : undefined))(href='/tag=wildlife') Wildlife
            small.text-muted (5)
          li.nested-list-group.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(tag === "tech" ? "active" : undefined))(href='/tag=tech') Tech 
            small.text-muted (4)
          li.nested-list-group.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(tag === "city" ? "active" : undefined))(href='/tag=city') City 
            small.text-muted (8)
          li.nested-list-group.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(tag === "road" ? "active" : undefined))(href='/tag=road') Road
            small.text-muted (2)
        li.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(name === "contact" ? "active" : undefined))(href='/contact') Contact
        li.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(name === "about" ? "active" : undefined))(href='/about') About
        
      .sidebar-brand-footer
        span.lead gallery.js