sidebar
    .bg-light.border-right#sidebar-wrapper
      .sidebar-heading Gallery
      .list-group.list-group-flush
        a.list-group-item.list-group-item-action.bg-light(href="/") Dashboard
        a.list-group-item.list-group-item-action.bg-light(href="/test.html") Link One
        a.list-group-item.list-group-item-action.bg-light(href="/test2.html") Link Two
        a.list-group-item.list-group-item-action.bg-light(href="/test3.html") Link Three
        a.list-group-item.list-group-item-action.bg-light(href="/test4.html") Contact
        a.list-group-item.list-group-item-action.bg-light(href="/test5.html") About