sidebar.sidebar
    .bg-light#sidebar-wrapper
      .sidebar-heading
        img.navbar-brand(src='/images/PlaceholderLogo.png')

      ul.list-group.list-group-flush
        li.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(name === "projects" ? "active" : undefined))(href='/') Projects
        ul
          li.nested-list-group.list-group-item.list-group-item-action.bg-light: a.sidebar(href='#') Link One
          li.nested-list-group.list-group-item.list-group-item-action.bg-light: a.sidebar(href='#') Link Two
          li.nested-list-group.list-group-item.list-group-item-action.bg-light: a.sidebar(href='#') Link Three
        li.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(name === "contact" ? "active" : undefined))(href='/contact') Contact
        li.list-group-item.list-group-item-action.bg-light: a.sidebar(class=(name === "about" ? "active" : undefined))(href='/about') About
        
      .sidebar-brand-footer
        span.lead gallery.js