extends layout

block content
    h1=title
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ullam eaque nostrum nobis esse id rerum accusamus quia. Esse consequuntur perferendis eveniet voluptatem neque animi repellendus dolorem iure placeat soluta.