extends layout

block content
  .gallery#gallery

    <!-- Grid column -->
    .mb-3
      - for (var n=0; n<35; n++)
        - var str = 'https://picsum.photos/2000/2000?random='+n;
        .img-wrapper
          a: img(src=str)

        