doctype html
html
  include includes/head
  body
  
    .d-flex#wrapper
      include includes/sidebar
      
      #page-content-wrapper
        include includes/nav

        .main
          block content
      

  //include includes/footer
  include includes/foot

  block scripts
    include ../public/javascripts/sidebarToggle.js
    script.
      AOS.init();